{% extends "indexadmin.html.twig" %}
{% set navb = 1 %}

{% block titre %}
Dashboard
{% endblock %}

{% block content %} 
<div> voir le panneau de controle </div>
<div>Il y a actuellement {{nbprods}} produits dans la boutiques</div>
{% for key in prodsbycates|keys %}
<div> Dans la categorie {{key}} Il y a actuellement {{prodsbycates[key]}} produit dedans</div>
{% endfor %}

{{dump(prodsbycates)}}
{% endblock %}

{% block footer %} 
<div> Pour faire les pieds </div>
 {% endblock %}