<h1>Merci {{name}} pour votre commande</h1>

<p>
  Commande numero : {{ commande }} du : {{date|date('d/m/Y')}}.
</p>
<p>
  D'un montant TTC de : {{montant}} €
</p>

<p>
	Votre commande a bien ete valider et sera traite dans les plus bref delais.</p>
<p>
	Vous recevrez un mail lors de l'envoie de votre commande</p>

<p>Cordialemant l'equipe Reve D'Ours</p>
